<!-- nav_footer_custom.html -->
<footer>
    <style>
        .footer-container {
            width: 100%;
            max-width: 800px; 
            display: flex;
            justify-content: flex-end;
        }

        .footer-text {
            margin: 0;
            padding: 5px 0;
        }

        .last-edited {
            font-size: 16px;
            color: #888;
            margin-right: 40px;
        }
    </style>
    <div class="footer-container">
        <p class="last-edited">Last edited: March 2025</p>
    </div>
</footer>
